@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap);
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


/* Slider */
.slick-loading .slick-list
{
    background: #fff url(./assets/img/ajax-loader.gif) center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url(./assets/fonts/slick.eot);
    src: url(./assets/fonts/slick.eot?#iefix) format('embedded-opentype'), url(./assets/fonts/slick.woff) format('woff'), url(./assets/fonts/slick.ttf) format('truetype'), url(./assets/img/slick.svg#slick) format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:rgba(0,0,0,0)}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:"";content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:rgba(0,0,0,0)}ins{text-decoration:none}ins,mark{background-color:#ff9;color:#000}mark{font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle;outline-offset:0}@font-face{font-family:Montserrat;src:url(https://fonts.googleapis.com/css?display=swap&family=Montserrat%3A500%2C700%2C800%2C900);font-weight:500;font-style:normal}@font-face{font-family:Montserrat-Bold;src:url(https://fonts.googleapis.com/css?display=swap&family=Montserrat%3A500%2C700%2C800%2C900);font-weight:700;font-style:normal}@font-face{font-family:Montserrat-Black;src:url(https://fonts.googleapis.com/css?display=swap&family=Montserrat%3A500%2C700%2C800%2C900);font-weight:900;font-style:normal}*,:after,:before,html{-webkit-box-sizing:border-box;box-sizing:border-box}html{font-size:14px}body{font-family:Montserrat,sans-serif;color:#37373f;background:#fff;font-weight:400}.container{width:100%;margin:0 auto;max-width:1140px}li,ul{list-style:none}a{text-decoration:none;color:#37373f}.chat-img{height:auto;width:30px}.many-reviews{font-size:18px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:87px}.many-reviews>.cup-img{padding:0 0 9px 2px}.many-reviews__inner{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.many-reviews__span{margin:0 15px 0 10px}.open-scr{color:#5286ec;cursor:pointer}.open-scr:hover{text-decoration:underline}.arrow-img{margin:0 10px}.expand{display:block!important}.d-block{display:none}.bold{font-weight:700}.header-inner{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-align:center;-ms-flex-align:center;align-items:center;height:100px}.header-inner__logo{font-size:32px;font-weight:500;letter-spacing:-1.5px;margin-left:-3px}.header-inner__tel{padding-left:37px}.header-inner__autorization,.header-inner__location{display:none}.span-grey{color:#b3b3b3}.helimain{background:url(./assets/img/helimain.png) 50% no-repeat;height:840px;width:100%;color:#fff}.helimain__title{padding-top:286px}.helimain__h1{font-size:40px;line-height:49px}.helimain__span{color:#fc9b09}.helimain__bubble{margin:22px 0;background:#fc9b09;border-radius:4px;width:224px;height:86px;padding:0 23px;position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-shadow:0 4px 6px -2px rgba(0,0,0,.28);box-shadow:0 4px 6px -2px rgba(0,0,0,.28)}.helimain__bubble:after{content:"";position:absolute;bottom:-6px;left:124px;width:22px;height:22px;background:#fc9b09;border-radius:5px;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);-webkit-box-shadow:4px 4px 5px -2px rgba(0,0,0,.14);box-shadow:4px 4px 5px -2px rgba(0,0,0,.14)}.helimain__bubble-inner{padding-top:12px}.helimain__bubble-coast{font-size:20px;padding-bottom:8px}.helimain__bubble-persent,.helimain__bubble-sum{font-weight:800;font-size:35px}.helimain__bubble-persent{width:52px;height:52px;border:1px solid #fff;border-radius:50%;-webkit-box-sizing:border-box;box-sizing:border-box;text-align:center;line-height:52px;margin:16px 0 0 6px;-webkit-box-shadow:0 4px 4px hsla(0,0%,100%,.25);box-shadow:0 4px 4px hsla(0,0%,100%,.25)}.booking-button{-webkit-box-shadow:0 4px 4px hsla(0,0%,100%,.25),0 4px 70px hsla(0,0%,100%,.7);box-shadow:0 4px 4px hsla(0,0%,100%,.25),0 4px 70px hsla(0,0%,100%,.7);width:304px;background:none;height:68px;border:3px solid #fff;border-radius:3px;color:#fff;font-weight:900;font-size:18px;text-align:center;cursor:pointer}.booking-button:hover{color:#fc9b09;background:#fff;-webkit-transition:all .5s;-o-transition:all .5s;transition:all .5s}.booking-button:active{-webkit-box-shadow:0 4px 4px rgba(0,0,0,.25);box-shadow:0 4px 4px rgba(0,0,0,.25);border:3px solid #fc9b09}.booking-button:focus{outline:none}.offer{padding:70px 0 0;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.offer-discription{width:50%}.offer-discription__title{margin-right:15px}.offer-discription__h2{font-weight:500;font-size:40px;line-height:49px;margin-bottom:10px}.offer-discription__h2--mob{font-weight:300;display:none;font-size:28px;line-height:34px;text-align:center;margin-bottom:12px}.offer-discription__p{font-size:18px;line-height:26px}.offer-discription__list{margin-top:18px}.offer-discription__list--mob{display:none}.offer-discription__item{height:40px;font-weight:500;line-height:20px;margin-bottom:8px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.offer-discription__item>span{margin-left:12px}.offer-discription__rating{margin-top:26px;border-top:.5px solid #c7c7c7;border-bottom:.5px solid #c7c7c7}.offer-video{width:554px;left:3px;position:relative}.offer-video__preview{position:relative;cursor:pointer;border-radius:4px}.offer-video__preview>.preview-img{position:absolute;top:0;left:0;height:auto;width:100%;z-index:2}.offer-video__preview>.play-icon-img{position:absolute;z-index:3;top:0;margin:58% 7% 0 0;right:0}.offer-video__preview:hover>.play-icon-img{-webkit-transform:scale(2);-ms-transform:scale(2);transform:scale(2);-webkit-transition:.5s;-o-transition:.5s;transition:.5s;-webkit-transform:translate(-30px,-50px) scale(5);-ms-transform:translate(-30px,-50px) scale(5);transform:translate(-30px,-50px) scale(5)}.offer-video__wrap{position:relative;padding-bottom:56.25%;padding-top:30px;height:0;overflow:hidden}.offer-video__iframe{position:absolute;top:0;left:0;padding:2px;width:100%;height:100%;z-index:1}.gallery__content{padding:28px 0 0 3px}.gallery__for-mobile{display:none}.gallery__h3{font-weight:500;font-size:20px;line-height:29px;margin-bottom:35px}.gallery__group{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;margin:0 -5px}.gallery__item{margin:0 5px 3px}.gallery__item:nth-child(n+9){display:none}.gallery__item>img{width:100%;height:auto}.gallery__show{font-weight:500;font-size:17px;line-height:25px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;border-bottom:1px solid #c7c7c7;padding:31px 0 23px}.gallery__show-more-inner{margin-right:12px}.gallery__show-more-inner>img.up{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}.autor-about{padding:35px 0 8px;border-bottom:1px solid #c7c7c7;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.autor-about,.autor-about__avatar{display:-webkit-box;display:-ms-flexbox;display:flex}.autor-about__avatar{position:relative;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;width:45%;padding:32px 0 0}.autor-about__avatar>img{position:absolute;top:20px;right:22%}.autor-about__avatar>.autor-avatar{text-align:center}.autor-about__content{width:50%}.autor-about__h3{font-weight:500;font-size:18px;line-height:26px}.autor-about__read{margin:12px 0 38px;font-size:16px;line-height:24px}.autor-about__p--full{display:none}.autor-about__show-more{margin:10px 0}.autor-about__span{font-weight:500;font-size:16px;line-height:23px}.autor-avatar{line-height:21px;padding-right:4px}.autor-avatar>img{margin-bottom:18px}.autor-avatar__name{font-weight:500;font-size:18px;line-height:22px;margin-bottom:6px}.autor-avatar__range{margin-bottom:8px}.autor-avatar__span{font-weight:500;color:#5286ec;cursor:pointer}.autor-avatar__span:hover{text-decoration:underline}.reserve{padding:48px 0 82px}.reserve__h3{font-weight:500;font-size:20px;line-height:30px;margin-bottom:23px}.reserve__container{font-size:18px;line-height:26px;max-width:770px;border:1px solid #c7c7c7}.reserve__date{padding:24px 0 14px 30px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start}.reserve__p{padding:4px 16px 0 0}.reserve__time{border-top:1px solid #c7c7c7;padding:10px 30px 18px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.reserve__timetable>p{margin-top:8px}.reserve__cost{font-weight:600}.reserve__button{color:#fc9b09;font-weight:500;font-size:14px;line-height:17px;border:2px solid #fc9b09;border-radius:3px;padding:16px 0;width:129px;height:50px;text-align:center;margin:30px 0 0}.reserve__button:hover{background:#fc9b09;color:#fff;-webkit-transition:all .5s;-o-transition:all .5s;transition:all .5s;cursor:pointer}.reserve__rating{padding:22px 0 16px 27px}.yandexmap{height:509px;width:100%;z-index:2}.yandexmap-popup{position:relative}.yandexmap-popup__content{z-index:1;bottom:20px;position:absolute;width:420px;height:469px;background:#fff;border:1px solid #c7c7c7;padding:50px 0 58px 30px}.yandexmap-popup__list,.yandexmap-popup__list-autor{display:-webkit-box;display:-ms-flexbox;display:flex;margin-bottom:35px}.yandexmap-popup__num{font-weight:700;font-size:35px;line-height:51px;text-align:center;color:#fff;background:#fc9b09;border-radius:50%;height:61px;width:61px;padding-top:5px}.yandexmap-popup__discr{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;margin-left:18px;padding-top:2px}.yandexmap-popup__title{font-weight:500;font-size:18px;line-height:27px;margin-bottom:5px}.yandexmap-popup__text{font-size:18px;line-height:26px}.photographer__avatar{width:67px;height:67px}.photographer__avatar>img{margin-top:5px;width:67px;height:auto}.photographer__discr{padding:5px 0 0 10px}.photographer__name{font-weight:500;font-size:18px;line-height:22px}.photographer__rang{margin-top:3px;font-size:16px;line-height:24px}.photographer__info{font-weight:500;font-size:14px;line-height:21px;color:#5286ec;cursor:pointer}.photographer__info:hover{text-decoration:underline}.modal__show{display:block}.yandexmap-popup__carousel .slick-arrow{position:absolute}.yandexmap-popup__carousel .slick-arrow.slick-next,.yandexmap-popup__carousel .slick-arrow.slick-prev{top:38px;width:auto}.yandexmap-popup__carousel .slick-arrow.slick-prev{left:23px}.yandexmap-popup__carousel .slick-arrow.slick-next{right:14px}.yandexmap-popup__carousel .slick-dots li{padding-left:10px}.yandexmap-popup__carousel .slick-dots li.slick-active img:nth-child(2),.yandexmap-popup__carousel .slick-dots li img:first-child{display:block}.yandexmap-popup__carousel .slick-dots li.slick-active img:first-child,.yandexmap-popup__carousel .slick-dots li img:nth-child(2){display:none}.reviews{padding-top:130px}.reviews__h4{font-weight:500;font-size:20px;line-height:29px}.reviews__list{margin-top:46px}.reviews__show{font-weight:500;font-size:17px;line-height:25px;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;padding:7px 0}.reviews__inner{margin-right:12px}.reviews__inner>img.upp{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}.customer{margin-bottom:30px}.customer__avatar{display:inline-block;vertical-align:top}.customer__main{display:inline-block;margin:10px 0 0 16px;max-width:510px;border-bottom:.5px solid #c7c7c7}.customer__name{font-weight:500;font-size:18px;line-height:22px;margin-bottom:12px}.customer__stars-group{margin:16px 52px 0 0;float:left}.customer__opinion{color:#c7c7c7;padding-top:16px}.customer__opinion:before{content:url(./assets/img/checkbox.png);position:relative;top:1px;right:4px}.customer__review{margin-top:25px;font-size:16px;line-height:24px}.customer__date{font-size:14px;line-height:21px;color:#c7c7c7;margin:15px 0 30px}.footer{padding-top:78px}.footer-upper__main{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.footer-upper__logo{padding:9px 0 0 65px;font-size:31px;font-weight:500;letter-spacing:-.6px}.footer-upper__links{padding-right:55px;margin-bottom:48px}.footer-upper__links,.footer-upper__list{display:-webkit-box;display:-ms-flexbox;display:flex}.footer-upper__item{margin-right:30px}.footer-upper__a>img{vertical-align:middle}.footer-upper__language{position:relative}.footer-upper__select{cursor:pointer;border:none;width:50px;font-family:Montserrat;font-size:15px;line-height:18px;appearance:none;-moz-appearance:none;-webkit-appearance:none;background:none}.footer-upper__select:focus{outline:none;-webkit-box-shadow:none;box-shadow:none}.footer-upper__dropdown{pointer-events:none;position:absolute;top:0;right:0}.footer-lower{background:#faf9f8}.footer-lower__main{display:-webkit-box;display:-ms-flexbox;display:flex;padding:5px 0 30px}.footer-lower__cards{padding:6px 0 0 67px}.footer-lower__cards>img{margin-right:20px}.footer-lower__copyright{color:#c7c7c7;font-size:14px;line-height:17px;margin:0 auto;padding-right:16.5%}.footer-lower__techapp{margin-bottom:7px;padding-left:9px}.footer-lower__tel{color:#c7c7c7}.popup{position:absolute}.popup,.popup__overlay{top:0;left:0;width:100%}.popup__overlay{position:fixed;height:100vh;background-color:rgba(0,0,0,.5);z-index:10;display:none}.popup__overlay.active{display:block}.popup__window{position:relative;margin:231px auto 0;max-width:615px;height:887px;background:#fff;border-radius:6px;padding:22px;z-index:12;display:none}.popup__window.active{display:block}.popup__close{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}.popup__close-button{cursor:pointer;width:20px;height:20px}.popup__close-button>img{width:100%;height:auto}.popup__h3{font-weight:600;font-size:22px;line-height:33px;text-align:center;margin:17px 0 26px}.popup__form{padding:0 75px}.popup__title{margin:10px 0;font-weight:500;font-size:16px;line-height:20px}.popup__span{color:red}.popup__input{width:100%;height:44px;border:1px solid #c7c7c7;border-radius:3px;padding:0 14px 0 20px}.popup__input-card-num{border-bottom:rgba(0,0,0,0);margin-bottom:0;border-radius:3px 3px 0 0}.popup__input-cvv,.popup__input-validity{padding-left:20px;border:1px solid #c7c7c7;height:44px}.popup__input-validity{width:50%;float:left;border-radius:0 0 0 3px}.popup__input-cvv{width:50%;border-radius:0 0 3px 0;border-left:rgba(0,0,0,0)}.popup__label-agree{position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;margin:36px 0 0 2px}.popup__check-orange{position:absolute;top:2px;width:16px;height:16px;background-color:#fc9b09;border-radius:2px}.popup__parag-agree{font-size:16px;line-height:20px;margin-left:26px}.popup__submit{width:100%;max-width:390px;height:72px;font-family:Montserrat;font-weight:600;font-size:16px;line-height:20px;background:#fc9b09;border:none;border-radius:3px;color:#fff;margin:21px 15px 0;padding-top:5px}.popup__submit:hover{cursor:pointer}.popup__submit:active{background:#fff;border:2px solid #fc9b09;color:#fc9b09;-webkit-box-shadow:0 0 6px rgba(252,155,9,.6);box-shadow:0 0 6px rgba(252,155,9,.6);-webkit-transition:all .3s;-o-transition:all .3s;transition:all .3s}.popup__submit:focus{outline:none}input[type=checkbox]{display:none}input[type=checkbox]:checked+.popup__check-orange{-webkit-box-shadow:0 0 3px rgba(252,155,9,.6);box-shadow:0 0 3px rgba(252,155,9,.6)}input[type=checkbox]:checked+.popup__check-orange:before{content:url(./assets/img/checkbox-m.png);position:absolute;top:0;left:3px}input[type=date]{background:none}input[type=date]::-webkit-calendar-picker-indicator{color:rgba(0,0,0,0);opacity:1;display:block;background:url(/assets/img/icons/calendar2.png);width:21px;height:23px}input[placeholder]{font-family:Montserrat;font-size:16px;line-height:20px}@media only screen and (max-width:1140px){.container{padding:0 15px}.gallery__item:nth-child(n+7){display:none}}@media only screen and (max-width:320px){.many-reviews{height:69px;font-size:14px}.many-reviews__span{margin:-4px 0 4px}.many-reviews>.stars-group-img{margin:0}.d-none{display:none}.d-block{display:block}.bold{font-weight:400}.header-inner__logo{font-size:22px}.header-inner__tel{display:none}.header-inner__location{color:#5286ec;margin-right:42px}.header-inner__autorization,.header-inner__location{display:block;padding-top:4px}.helimain__h1{font-size:32px;line-height:39px;padding-right:15px}.helimain__bubble{height:78px;width:200px;margin:34px 0 22px;padding:0 18px}.helimain__bubble:after{left:108px}.helimain__bubble-inner{padding-top:8px}.helimain__bubble-coast{font-size:18px}.helimain__bubble-sum{font-size:30px}.helimain__bubble-persent{width:48px;height:48px;line-height:46px;font-size:30px;margin:16px -2px 0 17px}.booking-button{width:100%}.offer-discription__p{margin-top:0}.offer-discription__item>span{margin-left:8px}.offer-discription__rating{margin-top:25px}.offer-video{width:100%;margin-bottom:34px}.offer-video__preview>.play-icon-img{height:17px;width:12px}.gallery__content{padding:60px 0 0;margin-bottom:2px}.gallery__for-desk{display:none}.gallery__for-mobile{display:block}.gallery__h3{font-weight:400;font-size:28px;line-height:34px;margin-bottom:30px;text-align:center;padding:0 10px}.gallery__show{display:none}.autor-about__avatar>img{top:5px;right:0}.autor-about__show-more{margin:20px 0}.autor-avatar{padding-right:0}.reserve{padding:4px 0 45px}.reserve__h3{font-weight:400;font-size:28px;line-height:34px;text-align:center;padding:0;margin:0 -10px 37px -15px}.reserve__date{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;padding:0}.reserve__date>img{display:none}.reserve__p{padding:16px 0 15px}.reserve__timetable{margin-bottom:20px}.reserve__timetable>p{margin-top:7px}.reserve__button{margin:0}.reserve__rating{border-top:.5px solid #c7c7c7;padding:17px 0 12px 18px}.reserve__rating .many-reviews__span{font-size:13px;line-height:19px}.reserve__rating .cup-img{padding-top:8px}.reserve__rating .many-reviews__inner{margin-left:16px}.yandexmap{height:423px}.yandexmap-popup__content{width:94.5%;height:100%}.reviews__h4{font-size:28px;line-height:42px;text-align:center}.reviews__item:nth-child(n+3){display:none}.reviews__inner{margin-right:0}.reviews__inner>img:first-of-type{display:none}.reviews__inner>img:last-of-type{-webkit-transform:rotate(-90deg);-ms-transform:rotate(-90deg);transform:rotate(-90deg)}.popup__window{margin:231px 15px}input[type=checkbox]:checked+.popup__check-orange:before{top:0}}@media only screen and (max-width:992px){.many-reviews__inner{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start;margin:0 0 0 10px;padding:0 0 10px}.many-reviews>.stars-group-img,.many-reviews__span{margin:0}}@media only screen and (max-width:992px) and (max-width:320px){.many-reviews__inner{margin:0 0 0 14px;padding:0}}@media only screen and (max-width:576px){.header-inner{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;height:60px}.header-inner__tel{padding-left:0}.helimain{height:655px}.helimain__title{padding-top:142px}.helimain__h1{font-size:36px;line-height:44px}.booking-button{width:275px;font-size:16px;padding-bottom:3px}.offer{padding:38px 0 0;-webkit-box-orient:vertical;-webkit-box-direction:reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse}.offer-discription{width:100%}.offer-discription__title{margin-right:0}.offer-discription__h2{display:none}.offer-discription__h2--mob{display:block}.offer-discription__p{margin-top:40px;font-size:14px;line-height:20px}.offer-discription__list{display:none}.offer-discription__list--mob{margin-top:34px;display:block}.offer-discription__item{height:32px;margin-bottom:11px;font-weight:500}.offer-discription__item>img{width:35px}.offer-video{width:100%;left:0}.autor-about{-webkit-box-orient:vertical;-webkit-box-direction:reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse;border-bottom:none}.autor-about__avatar{width:100%;padding:18px 14px 0 0;margin-bottom:18px}.autor-about__avatar>img{right:32%}.autor-about__content{width:100%}.autor-about__read{margin-bottom:25px}.reserve__time{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;padding:21px 20px 30px}.yandexmap-popup__content{position:relative;height:380px;padding:51px 0 0;top:0;margin-top:52px;left:8px}.yandexmap-popup__list{padding-left:10px;margin-bottom:24px}.yandexmap-popup__list-autor{padding:13px 0 0 30px;margin-bottom:12px}.yandexmap-popup__num{height:66px;width:66px;margin:0 auto;font-size:30px;line-height:44px;padding-top:12px}.yandexmap-popup__discr{margin-left:0;padding-top:18px}.yandexmap-popup__title{font-size:16px;line-height:23px;margin-bottom:5px;text-align:center}.yandexmap-popup__text{font-size:14px;line-height:20px;text-align:center}.photographer__name{font-size:16px;line-height:20px}.photographer__rang{font-size:14px;line-height:21px}.photographer__info{margin:3px 0 0}.reviews{padding-top:36px}.customer{width:100%;position:relative}.customer__avatar img{width:84px;height:84px}.customer__main{margin:5px 0 0}.customer__for-mob-group{position:absolute;top:4px;left:104px}.customer__name{font-size:16px;line-height:20px;margin-bottom:8px}.customer__stars-group{float:none;margin:14px 0 0}.customer__opinion{padding:20px 0 0 4px}.customer__review{font-size:14px;line-height:21px;margin-top:15px}.customer__date{padding:0;margin:37px 0 40px}.footer{padding-top:70px}.footer-upper__logo{padding:0;margin-left:-2px;font-size:20px;letter-spacing:-.6px}.footer-upper__links{position:relative;padding:0;margin-bottom:20px}.footer-upper__item:last-of-type{margin-right:0}.footer-upper__language{position:absolute;top:73px;right:0;margin-right:-10px}.footer-lower{border-top:1px solid #b3b3b3;background:#fff}.footer-lower__main{padding:0;display:block}.footer-lower__cards{padding:26px 0 0}.footer-lower__cards>img{margin-right:16px;width:34px;height:auto}.footer-lower__copyright{text-align:center;padding-right:0;margin:18px 0 110px}.footer-lower__techapp{margin-bottom:11px;padding-left:0}.popup__window{max-width:290px;height:946px;padding:17px 10px 0;margin:231px auto 0}.popup__close{margin-right:6px}.popup__close-button{width:17px;height:17px}.popup__h3{font-size:18px;line-height:30px;margin:13px 0 30px}.popup__form{padding:0}.popup__title{margin:0}.popup__input{width:100%;padding:0 11px 0 18px;margin-top:10px}.popup__input-card-num{margin-top:12px;height:46.5px}.popup__input-validity{width:100%;float:none;height:48.5px;border-radius:0;border-bottom:rgba(0,0,0,0)}.popup__input-cvv{width:100%;height:48px;border-radius:0 0 3px 3px;border:1px solid #c7c7c7}.popup__label-agree{margin:23px 0 0}.popup__submit{max-width:250px;margin:22px 10px 0;padding-top:0;height:50px;font-weight:400;font-size:14px;line-height:17px}input[type=date]{margin-bottom:14px}input[type=email]{margin-bottom:12px}input[name=person-name]{margin-bottom:17px}input[name=person-surname],input[name=person-tel]{margin-bottom:20px}}@media only screen and (max-width:768px){.header-inner__logo{font-size:28px}.offer-discription{width:70%}.yandexmap-popup__content{width:300px}.popup__window{margin:231px 10%}.popup__submit{width:100%;margin:21px 0 0}}@media only screen and (max-width:935px){.helimain__h1>br{display:none}}@media only screen and (max-width:881px){.gallery__item:nth-child(n+5){display:none}}@media only screen and (max-width:450px){.autor-about__avatar>img{right:20%}}@media only screen and (min-width:320px){.reviews__item:nth-child(n+4){display:none}}@media only screen and (min-width:576px){.footer-lower__cards>img.paypal-img{display:none}}
