.offer
  padding 70px 0
  display flex
  justify-content space-between
  &-discription
    max-width 50%
    &__title
      padding-right 15px
    &__h2
      font-weight 500
      font-size 40px
      line-height 49px
      margin-bottom 10px
    &__p
      font-size 18px
      line-height 26px
      margin-bottom 20px
    &__item    
      font-weight 500
      line-height 20px
      margin 0px 0 15px
      display flex
      align-items center
      >span 
        margin-left 12px
    &__rating 
      margin-top 32px
      border-top 0.5px solid light-grey
      border-bottom 0.5px solid light-grey   
  &-test
    width 554px
    height 374px
    background orange