.footer
  padding-top 78px
  @media $phone
    padding-top 70px
  &-upper
    &__main
      display flex
      justify-content space-between
    &__logo
      padding 9px 0 0 65px
      font-size 31px
      font-weight 500
      letter-spacing -0.6px
      @media $phone
        padding 0
        margin-left -2px
        font-size 20px
        letter-spacing -0.6px    
    &__links
      padding-right 55px
      margin-bottom 48px
      display flex
      @media $phone
        position relative
        padding 0
        margin-bottom 20px
    &__list
      display flex
    &__item
      margin-right 30px
      @media $phone
        &:last-of-type
          margin-right 0
    &__a
      >img
        vertical-align middle
    &__language
      position relative
      @media $phone
        position absolute
        top 73px
        right 0px
        margin-right -10px
    &__select
      cursor pointer
      border none
      width 50px 
      font-family Montserrat
      font-size 15px
      line-height 18px
      appearance none
      -moz-appearance none
      -webkit-appearance none
      background none
      &:focus 
        outline none
        box-shadow none
    &__dropdown
      pointer-events none
      position absolute
      top 0 
      right 0
  &-lower
    background #FAF9F8
    @media $phone
      border-top 1px solid grey
      background white
    &__main
      display flex
      padding 5px 0 30px
      @media $phone
        padding 0
        display block
    &__cards
      padding 6px 0 0 67px
      @media $phone
         padding 26px 0 0
      >img 
        margin-right 20px
        @media $phone
          margin-right 16px
          width 34px
          height auto
      >img.paypal-img
        @media $phone
          display none
    &__copyright
      color light-grey
      font-size 14px
      line-height 17px
      margin 0 auto
      padding-right 16.5%
      @media $phone
        text-align center
        padding-right 0
        margin 18px 0 110px 0
    &__techapp
      margin-bottom 7px
      padding-left 9px
      @media $phone
        margin-bottom 11px
        padding-left 0px
    &__tel
      color light-grey