.gallery
  &__content
    padding-top 30px
  &__h3
    font-weight 500
    font-size 20px
    line-height 29px 
    margin-bottom 37px
  &__group
    display flex
    justify-content space-around
    flex-wrap wrap
    margin-bottom 45px
  &__item 
    margin-bottom 3px
  &__span
    text-align center
    display block
    padding-right 11px
