
.header-inner
    display flex
    justify-content flex-start
    align-items center 
    height 100px 
.header-inner__logo
    position relative
    top 3px
.header-inner__tel
    padding-left 37px
.tel__span
    color grey