.yandexmap
    height 509px
    width 100%
    z-index 2
.yandexmap-popup
    display none
    z-index 1
    margin-top -485px
    position absolute
    width 420px
    height 469px
    background #FFFFFF
    box-sizing border-box
.modal__show 
    display block
  