.yandexmap
  height 509px
  width 100%
  z-index 2
  @media $phone-m
    height 423px
  &-popup
    position relative
    &__content
      z-index 1
      bottom 20px
      position absolute
      width 420px
      height 469px
      background white
      border 1px solid light-grey
      padding 50px 0 58px 30px
      @media screen and (min-width: 321px) and (max-width: 768px)
        width 300px
      @media screen and (max-width: 576px)
        position relative
        padding 51px 0 0
        top 0
        margin-top 52px
        left 8px
      @media screen and (min-width: 321px) and (max-width: 576px)
        height 380px
      @media screen and (max-width: 320px)
        width 95.5%
        height 100%
    &__list,
    &__list-autor
      display flex
      margin-bottom 35px
    &__list
      @media $phone
        padding-left 10px
        margin-bottom 24px
    &__list-autor
      @media $phone
        padding 13px 0 0 30px
        margin-bottom 12px
    &__num
      font-weight bold
      font-size 35px
      line-height 51px
      text-align center
      color white
      background orange 
      border-radius 50%
      height 61px
      width 61px
      padding-top 5px
      @media $phone
        height 66px
        width 66px 
        margin 0 auto
        font-size 30px
        line-height 44px
        padding-top 12px
    &__discr
      display flex 
      flex-direction column
      margin-left 18px
      padding-top 2px
      @media $phone
        margin-left 0px
        padding-top 18px
    &__title
      font-weight 500
      font-size 18px
      line-height 27px
      margin-bottom 5px
      @media $phone
        font-size 16px
        line-height 23px
        margin-bottom 5px
        text-align center
    &__text
      font-size 18px
      line-height 26px
      @media $phone
        font-size 14px
        line-height 20px
        text-align center
.photographer
  &__avatar
    width 67px
    height 67px
    >img 
      margin-top 5px
      width 67px
      height auto  
  &__discr
    padding 5px 0 0 10px  
  &__name 
    font-weight 500
    font-size 18px
    line-height 22px
    @media $phone
      font-size 16px
      line-height 20px
  &__rang
    margin-top 3px
    font-size 16px
    line-height 24px
    @media $phone
      font-size 14px
      line-height 21px
  &__info
    font-weight 500
    font-size 14px
    line-height 21px
    color blue
    cursor pointer
    @media $phone
      margin 3px 0 0px 
    &:hover
      text-decoration underline
.modal__show 
  display block
.yandexmap-popup__carousel 
  & .slick-arrow
    position absolute
    &.slick-prev
    &.slick-next
      top 38px
      width auto
      z-index 4
    &.slick-prev
      left 23px
    &.slick-next
      right 14px
  & .slick-dots li
    padding-left 10px
    & img:nth-child(1)
    &.slick-active img:nth-child(2)
      display block
    & img:nth-child(2) 
    &.slick-active img:nth-child(1)
        display none
