.popup
  position absolute
  top 0
  left 0
  width 100%
  &__overlay
    position fixed
    top 0
    left 0
    width 100%
    height 100vh
    background-color rgba(0,0,0,0.5)
    z-index 10
    display none
    &.active
      display block
  &__window
    position relative
    margin 231px auto 0
    max-width 615px
    height 887px
    background white
    border-radius 6px
    padding 22px 22px
    z-index 12
    display none
    @media screen and (min-width: 577px) and (max-width: 768px)
      margin 231px 10%
    @media $phone
      max-width 290px
      height 946px
      padding 17px 10px 0 
    @media screen and (min-width: 321px) and (max-width: 576px) 
      margin 231px auto 0
    @media $phone-m
      margin 231px 15px
    &.active
      display block
  &__close
    display flex
    justify-content flex-end
    @media $phone
      margin-right 6px
    &-button
      cursor pointer
      width 20px
      height 20px
      @media $phone
        width 17px
        height 17px  
      >img 
        width 100%
        height auto    
  &__h3
    font-weight 600
    font-size 22px
    line-height 33px
    text-align center
    margin 17px 0 26px
    @media $phone
      font-size 18px
      line-height 30px
      margin 13px 0 30px
  &__form
    padding 0 75px
    @media $phone
      padding 0 
  &__title
    margin 10px 0
    font-weight 500
    font-size 16px
    line-height 20px
    @media $phone
      margin 0
  &__span
    color red
  &__input
    width 100%
    height 44px
    border 1px solid light-grey
    border-radius 3px
    padding 0 14px 0 20px 
    @media $phone
      width 100%
      padding 0 11px 0 18px
      margin-top 10px
    &-card-num
      border-bottom transparent
      margin-bottom 0
      border-radius 3px 3px 0 0
      @media $phone
        margin-top 12px
        height 46.5px
    &-validity
    &-cvv
      padding-left 20px
      border 1px solid light-grey
      height 44px
    &-validity
      width 50%
      float left
      border-radius 0 0 0 3px
      @media $phone
        width 100%
        float none
        height 48.5px
        border-radius 0
        border-bottom transparent
    &-cvv
      width 50% 
      border-radius 0 0 3px 0
      border-left transparent 
      @media $phone
        width 100%
        height 48px
        border-radius 0 0 3px 3px
        border 1px solid light-grey
  &__label-agree  
    position relative
    display flex
    margin 36px 0 0 2px
    @media $phone
      margin 23px 0 0
  &__check-orange 
    position absolute
    top 2px
    width 16px
    height 16px
    background-color orange    
    border-radius 2px 
  &__parag-agree
    font-size 16px
    line-height 20px
    margin-left 26px  
  &__submit
    width 100%
    max-width 390px
    height 72px
    font-family Montserrat
    font-weight 600
    font-size 16px
    line-height 20px
    background orange
    border none
    border-radius 3px
    color white
    margin 21px 15px 0px
    padding-top 5px
    @media $tablet
      width 100%
      margin 21px 0 0px
    @media $phone
      max-width 250px
      margin 22px 10px 0
      padding-top 0
      height 50px
      font-weight normal
      font-size 14px
      line-height 17px
    &:hover
      cursor pointer
    &:active 
      background white
      border 2px solid orange
      color orange
      box-shadow 0px 0px 6px rgba(252, 155, 9, 0.6)
      transition all 0.3s
    &:focus 
      outline none
input
  @media $phone
    &[type="date"]
      margin-bottom 14px
    &[type="email"]
      margin-bottom 12px
    &[name="person-name"]
      margin-bottom 17px
    &[name="person-surname"]
    &[name="person-tel"]
        margin-bottom 20px
  &[type="checkbox"]   
    display none
    &:checked + .popup__check-orange
      box-shadow 0px 0px 3px rgba(252, 155, 9, 0.6)
      &:before
        content url("../img/icons/checkbox-m.png")
        position absolute
        top 0
        left 3px
        @media $phone-m
          top 0
  &[type="date"]
    background none
    &::-webkit-calendar-picker-indicator 
      color rgba(0, 0, 0, 0)
      opacity 1
      display block
      background url("/assets/img/icons/calendar2.png")
      width 21px
      height 23px   
  &[placeholder]
    light-grey
    font-family Montserrat
    font-size 16px
    line-height 20px