.reserve
  padding 50px 0 82px
  &__h3
    font-weight 500
    font-size 20px
    line-height 29px
    margin-bottom 23px
  &__container
    font-size 18px
    line-height 26px
    max-width 770px
    border 1px solid light-grey
  &__date
    padding 23px 0 15px
    display flex
    justify-content flex-start 
  &__p
    padding 5px 18px 0 30px
  &__time
    border-top 1px solid light-grey
    padding 10px 30px 15px 30px
    display flex
    justify-content space-between
  &__timetable
    >p
      margin-top 8px
  &__cost
    font-weight 600
  &__button
    color orange
    font-weight 500
    font-size 14px
    line-height 17px
    border 2px solid orange 
    border-radius 3px
    padding 16px 0
    width 129px
    height 50px  
    text-align center 
    margin auto 0
    &:hover
      background orange
      color white
      transition all 0.5s
      cursor pointer
  &__rating
    padding 23px 0 17px 27px