.reserve
  padding 48px 0 82px
  +below(320px)
    padding 0 0 45px
  &__h3
    font-weight 500
    font-size 20px
    line-height 29px
    margin-bottom 23px
    +below(320px)
      font-weight normal
      font-size 28px
      line-height 34px
      text-align center
      padding 0
      margin 0 -10px 40px -15px
  &__container
    font-size 18px
    line-height 26px
    max-width 770px
    border 1px solid light-grey
  &__date
    padding 24px 0 14px 30px 
    display flex
    justify-content flex-start 
    +below(320px)
      justify-content center
      padding 0
      >img 
        display none
  &__p
    padding 4px 16px 0 0 
    +below(320px) 
      padding 16px 0 15px
  &__time
    border-top 1px solid light-grey
    padding 10px 30px 15px 30px
    display flex
    justify-content space-between
    +below(320px)
      flex-direction column
      padding 21px 20px 28px
  &__timetable
    +below(320px)
      margin-bottom 20px
    >p
      margin-top 8px
      +below(320px)
        margin-top 7px
  &__cost
    font-weight 600
  &__button
    color orange
    font-weight 500
    font-size 14px
    line-height 17px
    border 2px solid orange 
    border-radius 3px
    padding 16px 0
    width 129px
    height 50px  
    text-align center 
    margin auto 0
    &:hover
      background orange
      color white
      transition all 0.5s
      cursor pointer
  &__rating
    padding 23px 0 20px 27px
    +below(320px)
      border-top 0.5px solid light-grey
      padding 20px 0 12px 18px
.reserve__rating .many-reviews__span
  +below(320px)
    font-size 13px
    line-height 19px
.reserve__rating .cup-img
  +below(320px)
    padding-top 8px
.reserve__rating .many-reviews__inner
  +below(320px)
    margin-left 16px