.reserve
  padding 48px 0 82px
  @media $phone-m
    padding 4px 0 45px
  &__h3
    font-weight 500
    font-size 20px
    line-height 30px
    margin-bottom 23px
    @media $phone-m
      font-weight normal
      font-size 28px
      line-height 34px
      text-align center
      padding 0
      margin 0 -10px 37px -15px
  &__container
    font-size 18px
    line-height 26px
    max-width 770px
    border 1px solid light-grey
  &__date
    padding 24px 0 14px 30px 
    display flex
    justify-content flex-start 
    @media $phone-m
      justify-content center
      padding 0
      >img 
        display none
  &__p
    padding 4px 16px 0 0 
    @media $phone-m
      padding 16px 0 15px
  &__time
    border-top 1px solid light-grey
    padding 10px 30px 18px 30px
    display flex
    justify-content space-between
    @media $phone
      flex-direction column
      padding 21px 20px 30px
  &__timetable
    @media $phone-m
      margin-bottom 20px
    >p
      margin-top 8px
      @media $phone-m
        margin-top 7px
  &__cost
    font-weight 600
  &__button
    color orange
    font-weight 500
    font-size 14px
    line-height 17px
    border 2px solid orange 
    border-radius 3px
    padding 16px 0
    width 129px
    height 50px  
    text-align center 
    margin 30px 0 0
    @media $phone-m
      margin 0
    &:hover
      background orange
      color white
      transition all 0.5s
      cursor pointer
  &__rating
    padding 22px 0 16px 27px
    @media $phone-m
      border-top 0.5px solid light-grey
      padding 17px 0 12px 18px
      & .many-reviews__span
        font-size 13px
        line-height 19px
      & .cup-img
        padding-top 8px
      & .many-reviews__inner
        margin-left 16px