.reviews
  padding-top 130px
  @media $phone
    padding-top 36px
  &__h4
    font-weight 500
    font-size 20px
    line-height 29px
    @media $phone-m
      font-size 28px
      line-height 42px
      text-align center
  &__list
    margin-top 46px
  &__item:nth-child
    @media screen and (min-width: 321px)
      &(n+4)
        display none
    @media $phone-m
      &(n+3)
        display none 
  &__show
    font-weight 500
    font-size 17px
    line-height 25px
    display flex
    justify-content center
    padding 7px 0
  &__inner
    margin-right 12px
    @media $phone-m
      margin-right 0px
    >img
      @media $phone-m
        &:first-of-type
          display none
        &:last-of-type
          transform rotate(-90deg)
      &.upp 
        transform rotate(180deg)
.customer
  margin-bottom 30px
  @media $phone
    width 100%
    position relative
  &__avatar 
    display inline-block
    vertical-align top
  &__avatar img
    @media $phone
      width 84px
      height 84px 
  &__main
    display inline-block
    margin 10px 0 0 16px
    max-width 510px
    border-bottom 0.5px solid light-grey
    @media $phone
      margin 5px 0 0
  &__for-mob-group
    @media $phone
      position absolute
      top 4px 
      left 104px
  &__name
    font-weight 500
    font-size 18px
    line-height 22px
    margin-bottom 12px
    @media $phone
      font-size 16px
      line-height 20px
      margin-bottom 8px
  &__stars-group
    margin 16px 52px 0 0
    float left
    @media $phone
      float none
      margin 14px 0 0
  &__opinion
    color light-grey
    padding-top 16px
    @media $phone
      padding 20px 0 0 4px
    &::before
      content url("../img/icons/checkbox.png")
      position relative
      top 1px
      right 4px
  &__review
    margin-top 25px
    font-size 16px
    line-height 24px
    @media $phone
      font-size 14px
      line-height 21px
      margin-top 15px
  &__date
    font-size 14px
    line-height 21px
    color light-grey
    margin 15px 0 30px
    @media $phone
      padding 0
      margin 37px 0 40px