.reviews
  padding-top 130px
  +below(320px)
    display none
  &__h4
    font-weight 500
    font-size 20px
    line-height 29px
  &__list
    margin-top 45px 
  &__show
    font-weight 500
    font-size 17px
    line-height 25px
    display flex
    justify-content center
    padding 8px 0
  &__inner
    margin-right 12px
    >img.upp 
      transform rotate(180deg)
.customer
  display flex
  margin-bottom 30px
  &__main
    margin 10px 0 0 20px
    max-width 510px
    border-bottom 0.5px solid light-grey
  &__name
    font-weight 500
    font-size 18px
    line-height 22px
    padding-bottom 9px
  &__rate
    display flex
    margin-top 10px
  &__stars-group
    margin-right 50px
  &__summary
    margin-right 3px
  &__opinion
    color light-grey
  &__review
    margin-top 20px
    font-size 16px
    line-height 24px
  &__date
    font-size 14px
    line-height 21px
    color light-grey
    padding 13px 0 27px
.reviews__item:nth-child(n+4)
  display none
  