
.about
  .container
    .offer
      .offer-discription
        .offer-discription__title
          h2.offer-discription__h2 Фотосессия<br> в вертолете
          p.offer-discription__p Полет на вертолете это прекрасная возможность получить новые ощущения! А наш замечательный фотограф запечатлит лучшие моменты
          ul.offer-discription__list
          each item in offerList
            li.offer-discription__item
              +picture('icons', item.name)
              span= item.p
        .offer-discription__rating
          block manyReviews
      .offer-video
        .offer-video__content
          .offer-video__preview#play-video
            +picture('main', 'preview')
            +picture('icons', 'play-icon')
          iframe#video(width="554" height="374" src="//www.youtube.com/embed/9B7te184ZpQ?rel=0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          
