
.about
  .container
    .offer
      .offer-discription
        h3.offer-discription__h3 Фотосессия<br> в вертолете
        p.offer-discription__p
          |Полет на вертолете это прекрасная возможность получить новые ощущения! А наш замечательный
          |фотограф запечатлит лучшие моменты
        ul.offer-discription__list
        each item in offerList
          li.offer-discription__item
            +picture('icons', item.name)
            span= item.p
        .offer-discription__rating
          +picture('icons', 'cup')
          .offer-discription__high-rating Более <b>50</b> отзывов с оценкой 
          +picture('icons', 'stars-group')(class="offer-discription__stars")
    .offer-video
      +picture('main', 'preview')
      +picture('icons', 'play-icon')
      iframe#youtube-video(src="", frameborder="0")