
- var autorMoreInfo= true

.autor
  .container
    .autor-about
      .autor-about__content  
        h3.autor-about__h3 Об организаторе:
        .autor-about__read
          p.autor-about__p Всем привет! Я фотограф Мария! И по мимо фотосъемки я так же являюсь членом группы экспертов туристической отрасли, которые хорошо разбираются в маркетинге, операциях и услугах обслуживания клиентов, специализирующихся на совместном использовании и частных турах.
          | <br> 
          | Сначала мы (я и моя команда) изучаем интересы клиентов, а затем придумываем подходящее решение, которое     соответствует бюджету и планам клиента. Мы никогда не зависим от субпоставщиков и не свяжемся…
          .autor-about__show-more
            span.autor-about__span.open-scr Читать еще
              +picture('icons', 'arrow')
            p.autor-about__p--full Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        h3.autor-about__h3 Что я предоставлю:
        .autor-about__read
          p.autor-about__p Встречу вас на машине после длительного перелёта. Качественный подбор места и локации для вашей съемки. При необходимости всегда возможно прерваться на обед/ужин. Более 50 фотографий на выходе с обработкой и замечательные впечатления о Дубае !
          .autor-about__show-more
            span.autor-about__span.open-scr.open-scr__autor Читать еще
              +picture('icons', 'arrow')
            p.autor-about__p--full Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .autor-about__avatar
        +picture('icons', 'like')
        .autor-avatar
          +picture('main', 'autor')
          p.autor-avatar__name Марина Иванова
          p.autor-avatar__range Фотограф
          span.autor-avatar__span Показать больше <br>информации о фотографе      