.autor
  .container
    .autor-avatar
      +picture('icons', 'like')
      +picture('main', 'autor')
      p.autor-avatar__name Марина Иванова
      p.autor-avatar__range Фотограф
      a.autor-avatar__seemore(href="#") Показать больше <br>информации о фотографе
    .autor-about
      .about-organization
      .about-organization
