
- var text= "Читать еще"

.autor
  .container
    .autor-photo
      +picture('icons', 'like')
      block autorAvatar 
    .autor-about
      h3.autor-about__h3 Об организаторе:
      .about-organization
        p.about-organization__p Всем привет! Я фотограф Мария! И по мимо фотосъемки я так же являюсь членом группы экспертов туристической отрасли, которые хорошо разбираются в маркетинге, операциях и услугах обслуживания клиентов, специализирующихся на совместном использовании и частных турах.
        p.about-organization__p Сначала мы (я и моя команда) изучаем интересы клиентов, а затем придумываем подходящее решение, которое     соответствует бюджету и планам клиента. Мы никогда не зависим от субпоставщиков и не свяжемся…
        p.about-organization__p.about-organization__p--full Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        block readMore
      h3.autor-about__h3 Что я предоставлю:
      .about-organization
        p.about-organization__p Встречу вас на машине после длительного перелёта. Качественный подбор места и локации для вашей съемки. При необходимости всегда возможно прерваться на обед/ужин. Более 50 фотографий на выходе с обработкой и замечательные впечатления о Дубае !
        p.about-organization__p.about-organization__p--full Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        block readMore
