.autor
  .container
    .autor-avatar
      img.autor-avatar__like.like-img(src="./assets/img/pics/like.png" alt="like")
      img.autor-avatar__autor.autor-img(src="./assets/img/autor.png" alt="autor")
      p.autor-avatar__name Марина Иванова
      p.autor-avatar__range Фотограф
      a.autor-avatar__seemore(href="#") Показать больше <br>информации о фотографе
    .autor-about
      .about-organization
      .about-organization
