footer.footer
  .container
    .footer-upper
      .footer-upper__logo
        a.footer-logo__a.logo(href="#")
          +picture('icons', 'logo')
      .footer-upper__social
        nav.footer-social__nav
          ul.footer-social__ul
            +socialLink('vk')
            +socialLink('fb')
            +socialLink('insta')
      .footer-upper__language.dropdown
        .dropdown__but RU
          .dropdown-content
            a(href="#") RU
            a(href="#") EN
    .footer-lower
      .footer-cards
        +picture('icons', 'master')
        +picture('icons', 'visa')
      .footer-copyright
        p.footer-copyright__techapp Тех. поддержка: 
          a.tel__link(href="tel:+7800700-00-00") 8(800)700-00-00
        p.footer-copyright__right © 2018 HELYFLY. All Rights Reserved.
    