footer.footer
  .container
    .footer-social
      a.header-inner__logo(href="#")
        +picture('icons', 'logo')
      nav.social-links
        //ul
    .footer-subtitle
      .footer-cards
        +picture('icons', 'master')
        +picture('icons', 'visa')
      .footer-copyright
        p.footer-copyright__techapp Тех. поддержка: 
          a.tel__link(href="tel:+7800700-00-00") 8(800)700-00-00
        p.footer-copyright__right © 2018 HELYFLY. All Rights Reserved.
    