.gallery
  .container
    h3.gallery__h3 Фотографии пакета:
    .gallery-group
    .gallery-show
      img.gallery-show__arrow.img-arrow(src="./assets/img/pics/arrow.png" alt="")
      a.gallery-show__text(href="#") Показать все фото
      img.gallery-show__arrow.img-arrow(src="./assets/img/pics/arrow.png" alt="")