

.gallery
  .container
    .gallery__content
      h3.gallery__h3 Фотографии пакета:
      .gallery__group 
        - for (var i = 1; i <= 12; i++)
          .gallery__item
            +pictureGallery(i)
      .gallery__show
        .gallery__inner
          +picture('icons', 'arrow')
          span.gallery__span.open-scr Показать все фото
          +picture('icons', 'arrow')