

.gallery
  .container
    .gallery__content
      h3.gallery__h3 Фотографии пакета<span class="d-none">:</span>
      .gallery__for-desk
        .gallery__group
          - for (var i = 1; i <= 12; i++)
            .gallery__item
              +pictureGallery(i)
        .gallery__show
          .gallery__show-more-inner
            +picture('icons', 'arrow')
            span.gallery__span.open-scr Показать все фото
            +picture('icons', 'arrow')
      .gallery__for-mobile
        .gallery__carousel.car
          - for (var i = 1; i <= 12; i++)
            .gallery__item--for-mob
              +pictureGallery(i)