
.gallery
  .container
    h3.gallery__h3 Фотографии пакета:
    .gallery-group
      //- for (var i = 1; i <= 12; i++)
        .gallery-group__item
          +pictureGallery(i) 
    .gallery-show
      .gallery-show__content
        +picture('icons', 'arrow')
        a.show-all__text(href="#")= "Показать все фото"
        +picture('icons', 'arrow')
      
      