
header.header
        .container
          .header-inner
            a.header-inner__logo(href="#")
                img(src="./assets/img/pics/logo.png" alt="logo") 
            .header-inner__tel
                | Телефон: 
                a.tel__link(href="tel:+78001231212") 8(800)-123-12-12
            