
header.header
  .container
    .header-inner
      a.header-inner__logo(href="#")
        +picture('icons', 'logo') 
      .header-inner__tel
        a.tel__link(href="tel:+78001231212") Телефон: 8(800)-123-12-12
            