
header.header
  .container
    .header-inner
      a.header-inner__logo(href="#")
        +picture('icons', 'logo') 
      .header-inner__tel
        a.tel__link(href="tel:+78001231212") <span class="span-grey">Телефон:</span>8(800)-123-12-12      
      .header-inner__location Москва
      .header-inner__autorization
        +picture("icons", "autorization")