
header.header
        .container
          a.logo.__header(href="#")
            img(src="./img/pics/logo.png" alt="logo") 
          .tel.__header
            | Телефон: 
            a.tel__link(href="tel:+78001231212") 8(800)-123-12-12
            