.helimain
    .container
        .main-title.main-title__inner
            h1.main-title__h1 Эксклюзивная <span class="main-title__span">фотосессия</span> при полете <br>на вертолете
            .main-title__bubble.bubble
                .bubble__inner
                    .bubble__coast Стоимость:
                    .bubble__sum 1500₽
                .bubble__persent %
            a.main-title__button
                .booking-button Забронировать место
