.helimain
    .container
        .main-title
            h1.main-title__h1 Эксклюзивная фотосессия при полете на вертолете
            .main-title__bubble
                +picture('icons', 'bubble')
                .bubble-inner
                    span.bubble-inner__coast Стоимость:
                    span.bubble-inner__sum 1500
                .bubble-persent
                    +picture('icons', 'present')
            a#booking-button.main-title__button Забронировать место
