.helimain
    .container
        h1.main-title
            |   Эксклюзивная фотосессия при полете на вертолете
        .bubble.__main
            .__title
                .__coast Стоимость:
                .__sum 1500
            .__persent
                img(src="./img/pics/present.png" alt="")
        a#booking-btn.button Забронировать место
