.helimain
    .container
        .helimain__title
            h1.helimain__h1 Эксклюзивная <span class="helimain__span">фотосессия</span> при полете <br>на вертолете
            .helimain__bubble
                .helimain__bubble-inner
                    .helimain__bubble-coast Стоимость:
                    .helimain__bubble-sum 1500₽
                .helimain__bubble-persent %
            .helimain__button
                button.booking-button Забронировать место