.helimain
    .container
        .helimain__title
            h1.helimain__h1 Эксклюзивная <span class="helimain__span">фотосессия</span> при полете <br>на вертолете
            .helimain__bubble.bubble
                .bubble__inner
                    .bubble__coast Стоимость:
                    .bubble__sum 1500₽
                .bubble__persent %
            .helimain__button
                button.booking-button Забронировать место
