
.map
  .yandexmap#map
  .container
    .yandexmap-popup
      .yandexmap-popup__content
        .yandexmap-popup__carousel
          +yandexPopup("1","Где встречаемся?","Москва")
          +yandexPopup("2","Время съемки","3 часа")
          +yandexPopup("3","Мест осталось:","2 места")
        .yandexmap-popup__list-autor.photographer
          .photographer__avatar
            +picture('main', 'autor')
          .photographer__discr
            p.photographer__name Мария Иванова
            p.photographer__rang Фотограф
            p.photographer__info Показать больше информации