.popup
    .popup__overlay
    .popup__window
      .popup__close
        span.popup__close-button
          +picture('icons', 'close')
      h3.popup__h3 Бронирование
      form.popup__form(action="" method="")
        +popupForm("Дата", "", "date", "person-date")
        +popupForm("Email", "Электронная почта", "email", "person-email")
        +popupForm("Имя", "", "text", "person-name")
        +popupForm("Фамилия", "", "text", "person-surname")
        +popupForm("Телефон", "+7 (905) 184-81-40", "tel", "person-tel")
        label.popup__label
          .popup__title Данные карты
              span.popup__span *
          input.popup__input.popup__input-card-num(type="tel", placeholder="Номер карты", name="card-number", required)
          input.popup__input-validity(type="tel", placeholder="Срок действия", name="exp-date", required)
          input.popup__input-cvv(type="password", placeholder="CVV", maxlength="3" required)
        label.popup__label-agree
          input.popup__check(type="checkbox", name="agree", required)
          span.popup__check-orange
          p.popup__p Я согласен с пользовательским<br> соглашением и публичной офертой
        input.popup__submit(type="submit" value="Забронировать") 