.popup
  .popup__owerlay
    .popup__window
      .popup__close
        +picture('icons', 'close')
      h3.popup__h3 Бронирование
      form.popup__form(action="" method="POST")
        +popupForm("Дата", "date")
        +popupForm("Email", "email")
        +popupForm("Имя")
        +popupForm("Фамилия")
        +popupForm("Телефон")
        label.popup__label
          .popup__title Данные карты
              span.popup__span *
          input.popup__input.popup__input-card-num
          input.popup__input-validity 
          input.popup__input-cvv
        label.popup__label-agree
          input.popup__check(type="checkbox")
          +picture('icons', 'checkbox-m2')
          p.popup__p Я согласен с пользовательским<br> соглашением и публичной офертой
        button.popup__button Забронировать