
.reserve
  .container
    h3.reserve__h3 Доступная съемка <br>в ближайшее время<span class="d-none">:</span>
    .reserve__container
      .reserve__date 
        p.reserve__p Пятница, <span class="bold">14</span> сентября
        +picture('icons', 'calendar1')
      block reserveTime
      each item in interval
        .reserve__time
          .reserve__timetable
            p.reserve__interval #{item.time}
            p.reserve__cost #{item.cost}
            p.reserve__places Осталось — 1 место
          a#choose-button.reserve__button Выбрать
      .reserve__rating
        block manyReviews 


