.reserve
  .container
    h3.reserve__h3 Доступная съемка <br>в ближайшее время:
    .reserve-soon
      .reserve-date 
        p.reserve-date__p Пятница, <b>14</b> сентября
        img.reserve-date__img.img-calendar1(src=src="./assets/img/pics/calendar1.png" alt="")
      //.reserve-time
        .timetable
          p.timetable__interval 15:00 - 18:00
          p.timetable__coast 1500₽
          p.timetable__places Осталось — 1 место
        .reserve-time
        .timetable
          p.timetable__interval 15:00 - 18:00
          p.timetable__coast 1500₽
          p.timetable__places Осталось — 1 место
        .offer-discription__rating
          img.offer-discription__cup.img-cup(src="./assets/img/pics/cup-group.png" alt="")
          .offer-discription__high-rating Более <b>50</b> отзывов с оценкой 
          img.offer-discription__srars.img-stars(src="./assets/img/pics/stars-group.png" alt="")


