.test
  //-  .row
      img(src="./assets/img/gallery/pic1.png")
      img(src="./assets/img/gallery/pic2.png")
      img(src="./assets/img/gallery/pic3.png")
      img(src="./assets/img/gallery/pic4.png")
    .row
      img(src="./assets/img/gallery/pic1.png")
      img(src="./assets/img/gallery/pic2.png")
      img(src="./assets/img/gallery/pic3.png")
      img(src="./assets/img/gallery/pic4.png")
    .row
      img(src="./assets/img/gallery/pic1.png")
      img(src="./assets/img/gallery/pic2.png")
      img(src="./assets/img/gallery/pic3.png")
      img(src="./assets/img/gallery/pic4.png")
//-.test-box
    img.img-fb(src="./assets/img/icons/fb.png")
  .test-box
    img.img-insta(src="./assets/img/icons/insta.png")