
@import "utils/layout"
@import "modules/header"
@import "modules/helimain"
@import "modules/about"
@import "modules/gallery"
@import "modules/autor"
@import "modules/reserve"
@import "modules/map"
@import "modules/reviews"
@import "modules/footer"
@import "modules/popup"
@import "~slick-carousel/slick/slick.css"
@import "~slick-carousel/slick/slick-theme.css"
