
@import "utils/fonts.styl"

@import "modules/header.styl"
@import "modules/helimain.styl"
@import "modules/about.styl"
@import "modules/gallery.styl"
@import "modules/autor.styl"
@import "modules/reserve.styl"
@import "modules/map.styl"
@import "modules/reviews.styl"
@import "modules/footer.styl"
@import "modules/popup.styl"



black = #37373F

html 
    font-size 14px
body
    font-family 'Montserrat', sans-serif
    color black
.container {
  margin: 0 auto;
  max-width: 1140px;
}
