
mixin discriptionItem(nameSource, paragraph)
  li.offer-discription__item
    img(class = "img-" + nameSource)(src = `./assets/img/pics/`${nameSource}`.png`)
      | paragraph
+discriptionItem("clock","3 часа съемки")
+discriptionItem("clock","3 часа съемки")
+discriptionItem("clock","3 часа съемки")

mixin gallery(images)
  img( src = `./img/pic`${images}`.png` )
+gallery('1')

mixin galleryShow()