
extends ../layout/main
block variables
  - var offerList = [{name: "clock", p: "3 часа съемки"}, {name: "photocamera", p: "Более 50 фотографий"}, {name: "local", p: "Москва"},{name: "chat", p: "Готовы ответить на любые вопросы"}];
  - var interval = [{time: "15:00 - 18:00", cost: "1500₽"}, {time: "19:00 - 22:00", cost:  "1500₽"}];
  - var customerInfo = [{num: "1", name: "Валерия Антонова", rang: "Арт-директор", review: "Хотим выразить огромную благодарность вашей компании! Получили море ощущений, все прошло просто замечательно. Фотки получились великолепные, отдельное спасибо фотографу!", date: "27 Апреля, 2019г.", gender: "female" }, {num: "2", name: "Виталий Петров",rang: "Фотограф",review: "Восторг! :) Очень понравилось :) Захватили последний теплый, солнечный октябрьский день :) Впечатлило всё: сам вертолет, взлет, полёт, приземление. Организация полёта отличная. Спасибо!", date: "19 Апреля, 2019г.", gender: "male"}, {num: "3", name: "Джим Керри", review: "Круто-круто-круто!!! Отмечали мой ДэРэ. Отлично провели время!!! Кстати закуски были вкусными и сытными))Мы с собой ничего не брали. Сами много фоткались,поэтому воспоминания обалденные!!!)) А еще нам всем напечатали по сертификату воздухоплавателя, правда некоторые ленятся за ним съездить))) Но все равно приятно. Короче, Презентстар – проверено. Оценка: пять!", date: "11 Апреля, 2019г.", gender: "male"}, {num: "4", name: "Валерия Антонова", rang: "Арт-директор", review: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.", date: "27 Апреля, 2019г.", gender: "female"}, {num: "5", name: "Виталий Петров", rang: "Фотограф", review: "Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.", date: "19 Апреля, 2019г.", gender: "male"}, {num: "6", name: "Джим Керри", rang: "Фотограф", review: "Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.", date: "11 Апреля, 2019г.", gender: "male"}];  
block manyReviews
  .many-reviews
    +picture('icons', 'cup')
    span.many-reviews__span Более <b>50</b> отзывов с оценкой 
    +picture('icons', 'stars-group')(class="many-reviews__stars")
  

        
