doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    title HELYFLY фотосессия на вертолете
    meta(name="description" content="фотосессия в вертолете, HELYFLY")
    meta(name="keywords" content="фотосессия, полет на вертолете, HELYFLY")
  body(class=pageClass)
    include ../includes/header
    include ../includes/helimain
    include ../includes/about
    include ../includes/gallery
    include ../includes/autor
    include ../includes/reserve
    include ../includes/map
    include ../includes/reviews
    include ../includes/footer