
@import "utils/reset.styl"
@import "utils/fonts.styl"
@import "utils/vars.styl"

*,
*::before,
*::after 
  box-sizing border-box
html
  box-sizing border-box
  font-size 14px
body
  font-family 'Montserrat', sans-serif
  color black
  background white
  line-height 24px
  font-weight 400
.container
  width 100%
  margin 0 auto
  max-width 1140px
ul, li 
  list-style none
a
  text-decoration none
  color black
.chat-img
  height auto
  width 30px
.many-reviews 
  font-size 18px
  display flex
  justify-content flex-start
  align-items center
  min-height 87px 
  &__high-rating
    margin 0 15px 0 12px