
@import "utils/reset.styl"
@import "utils/fonts.styl"
@import "utils/vars.styl"


*,
*::before,
*::after 
  box-sizing border-box
html
  box-sizing border-box
  font-size 14px
body
  font-family 'Montserrat', sans-serif
  color black
  background white
  font-weight 400
.container
  width 100%
  margin 0 auto
  max-width 1140px
  @media $desktop
    padding 0 15px
ul, li 
  list-style none
a
  text-decoration none
  color black
.chat-img
  height auto
  width 30px
.many-reviews 
  font-size 18px
  display flex
  justify-content flex-start
  align-items center
  height 87px 
  @media $tablet
    font-size 14px
  @media $phone-m
    height 69px
  >.cup-img 
    padding 0 0px 9px 2px
  &__inner
    display flex
    justify-content flex-start
    align-items center
    @media $laptop
      flex-direction column
      align-items flex-start 
    @media screen and (min-width: 321px) and (max-width: 992px)
      margin 0 0 0 10px
    @media $phone-m
      margin 3px 0 0 14px
    >.stars-group-img
      @media $laptop
        margin-top 6px
  &__span
    margin 0 15px 0 10px
    @media screen and (min-width: 321px) and (max-width: 992px)
      margin 0
    @media $phone-m
      margin -4px 0 4px 
.open-scr
  color blue
  cursor pointer
  &:hover
    text-decoration: underline 
.arrow-img 
  margin 0 10px
.expand
  display block !important 
.d-none 
  @media $phone-m
    display none
.d-block
  display none
  @media $phone-m
    display block
.bold
  font-weight bold
  @media $phone-m
    font-weight normal