
@import "utils/reset.styl"
@import "utils/fonts.styl"
@import "utils/vars.styl"
@import "utils/media.styl"

*,
*::before,
*::after 
  box-sizing border-box
html
  box-sizing border-box
  font-size 14px
body
  font-family 'Montserrat', sans-serif
  color black
  background white
  line-height 24px
  font-weight 400
.container
  width 100%
  margin 0 auto
  max-width 1140px
  +below(1140px)
    padding 0 15px
ul, li 
  list-style none
a
  text-decoration none
  color black
.chat-img
  height auto
  width 30px
.many-reviews
  position relative 
  font-size 18px
  display flex
  justify-content flex-start
  align-items center
  height 87px 
  +below(320px)
    height 69px
    font-size 14px
    flex-direction column
    align-items flex-start
  &__span
    margin 0 15px 0 10px
    +below(320px)
      margin 11px 0 0 48px
  >.cup-img 
    padding 0 0px 9px 2px
    +below(320px)
      display none
  >.cup-for-mob-img
    display none
    +below(320px)
      display block
      position absolute 
      top 13px 
      left -2px
  >.stars-group-img
    +below(320px)
      margin 3px 0 0 48px
.open-scr
  color blue
  cursor pointer
  &:hover
    text-decoration: underline 
.arrow-img 
  margin 0 10px
.expand
  display block !important 
.d-none 
  +below(320px)
    display none
