// Font
$mainFont                : 'Roboto', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #777777;
$secondFontColor         : #ffffff;
$mainFontSize            : 14px;
$mainFontWeight          : 300;
$mainLineHeight          : 1.4;

$desktop                 : 1366px;
$laptop                  : 1024px;
$tablet                  : 768px;
$phone                   : 480px;
$phone-m                 : 320px;



